<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Creating title

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

#### Markdown cell to indicate Author's name

## Author
Devi Gayathri

## Author
Devi Gayathri

#### Creating an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook Data Science Tools and Ecosystem are summarized.

#### Markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of Data Science Development Environment Open Source Tools
- Code cells to perform multiplication and addition of numbers in Python
- Code cells to convert 200 minutes into hours

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of Data Science Development Environment Open Source Tools
- Code cells to perform multiplication and addition of numbers in Python
- Code cells to convert 200 minutes into hours

#### Markdown cell to list 3 Data Science Languages and output

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

#### Markdown cell to list 3 Data Science Libraries and output

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. Numpy

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. Numpy

#### Markdown cell to create Table of Data Science Tools and output

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Spyder |

| Data Science Tools |
| ----------------- |
| Jupyter |
| RStudio |
| Spyder |

#### Markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# evaluating 1st expression
5+4

9

In [4]:
# evaluating 2nd expression
(20-4)*5

80

#### Code cell to multiply and add numbers code and output

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

#### Code Cell to convert 200 minutes into hours

In [9]:
# This will convert 200 minutes into hours by dividing by 60
print("200 minutes is",200/60,"hours")

200 minutes is 3.3333333333333335 hours